body {
   background-color: #fdefef;
   font-family: Ubuntu;
   font-style: normal;
   font-weight: normal;
   margin: 0px;
   padding: 0px;
   display: flex;
   flex-direction: column;
}
.menu-box {
   position: absolute;
   width: 100%;
   height: 52px;
   background: #fcfcfc;
   border: 2px solid #d8a0a0;
   display: flex;
   flex-direction: row;
}

.main-menu {
}
.logo {
   position: relative;
   height: 100%;
   width: 52px;
   background-color: crimson;
}

.main-menu-elem {
   display: inline-block;
   margin-right: 45px;
}
.main-menu-elem a {
   color: #827d7d;
   text-decoration: none;
   font-size: 28px;
}
main {
   position: relative;
   display: flex;
   flex-direction: row;
   top: 78px;
   left: 30px;
   height: 831px;
}
.maneken {
   position: relative;
   width: 291px;
   height: 760px;
   left: 50%;
   top: 35px;
   transform: translate(-50%);
}
.constructor-view-box {
   position: relative;
   width: 875px;

   background: #ffffff;
   border: 2px solid #e7e7e7;
   box-sizing: border-box;
   border-radius: 19px;
}
.front-back-view {
   position: inherit;
   left: 742px;
   bottom: 10px;
}
.front-button {
   position: inherit;
}

.constructor-items-box {
   position: relative;
   width: 446px;
   left: 43px;
   height: auto;
   background: #e9e9e9;
   border: 2px solid #d8a0a0;
   border-radius: 10px;
}
